/*header footer*/
body{overflow-y:auto;min-width:1000px;}
.header{width:100%;height:60px;position:fixed;left:0;top:0;z-index:50;background:url("../img/mask50.png") repeat;z-index:100;}
.nav li{float: left;}
.nav li a{display: block;height:60px;line-height:60px;color:#fff;padding:0 20px;}
.nav li a:hover,.nav li.current a{background: url("../img/mask15.png") repeat;}
.btn{display: inline-block;width:100px;height:28px;line-height:28px;margin:17px 20px 0 0;border:1px solid #fff;border-radius:2px;color: #fff;text-align: center;}
.login{color:#6be771;border-color:#6be771;}
.btn:hover{opacity:0.9;transition:0.2s;}
.dot_list{width:10px;height:100px;position:fixed;top:50%;margin-top:-50px;right:20px;z-index:50;}
.dot_list li{display: block;height:25px;line-height:25px;text-align: center;cursor: pointer;}
.dot_list li a{display:inline-block;width:4px;height:4px;border:1px solid #bdbdbd;background:#aaa;border-radius:50%;transition:0.8s;}
.dot_list li.current a{width:8px;height:8px;border:1px solid #bdbdbd;background:none;transition:0.8s;}
.content,.wallpaper,.wall_page,.wall_in{width:100%;height:100%;position:relative;}
.content{position: relative;}
.wallpaper{position:absolute;top:0;left:0;}

/*.two .img img,.three .img img,.four .img img{display:none;}*/
.slogan_txt{position: absolute;width:30%;height:55%;bottom:20%;right:5%;}
.slogan_txt span.block{width:100%;}
.slogan_txt span.block img{width:100%;}
.two .slogan_txt,.three .slogan_txt{width:35%;height:23%;bottom:38%;right:0;}
.three .slogan_txt{width:26%;right:65%;}
.four .slogan_txt{width:20%;right:15%;}
.slogan_p1{margin-top:5%;}
.download{margin-top:25%;}
.download p{padding:10px 0;}
.download p span{display:inline-block;background:url("../img/arrow.png") no-repeat right center;padding:0 15px;position: relative;}
.download p span em{display:inline-block;position: absolute;width:150px;height:150px;top:-150px;left:0;display:none;}
.download p span em img{width:150px;height:150px;}
.download p span:hover em{display:block;transition:0.5s;-webkit-transition:0.5s;}
.mask{position:fixed;width:100%;height:100%;left:0;top:0;background:url("../img/mask4.png") repeat;z-index:70;display:none;}
.log{border-top:1px solid #aaa;width:900px;margin:120px auto 0 auto;background:#f0f0f0;padding-left: 100px;height: 100%;}
.log_inner{background: url("../img/log_bg.jpg") -73px 0 repeat-y;height: 100%;}
.log_main{margin-left:50px;margin-top: -30px;}
.title{background:#f0f0f0;height:67px;line-height:67px;width:530px;cursor: pointer;}
.title img.clock{margin:0 30px;}
.arrow{border-left:10px solid #f0f0f0;border-right:10px solid #f0f0f0;border-top: 10px solid #333;position: relative;line-height: 0;height: 0;font-size:0;vertical-align: middle;margin-left:25px;}
.log_txt{margin-top: 100px;}
.log_txt .floatleft{width:90px;height:34px;background: url("../img/log_point.jpg") right center no-repeat;margin-left:16px;padding-right: 100px;}
.log_txt ul{margin-left:240px;line-height: 22px;}
.log_txt ul li{margin-bottom:10px;color: #666;}
.one_page{width:100%;height:100%;overflow: hidden;}
.Wallpaper{position:absolute;top:0;bottom:0px;left:0;right:0;}
.autoImg{position:relative;overflow: hidden;z-index: -1;}
.slogan{width:30%;position: absolute;left:50%;margin-left:-15%;z-index:20;top:25%;}
.slogan p img{width:70%;}
.slogan p .btn{width:40%;height:40px;line-height:40px;margin:0 10px;margin-top:20%;}
.login_box,.choose_net{width:300px;margin:0 auto;height:330px;position: fixed;top:50%;left:50%;margin:-170px 0 0 -190px;padding:20px 40px;background:#fff;box-shadow:0 0 3px #000;}
.login_box{width:340px;height:290px;padding:20px;z-index:100;}
.loginIn{border:1px solid #ddd;}
.login_box label input{vertical-align:-3px;}
.Int{margin:0 10px;height:49px;position: relative;border-bottom:1px solid #ddd;}
.Int .error_txt{display:block;width:100%;height:45px;line-height:45px;position: absolute;right:0;top:0;text-align: right;font-size: 13px;display: none;padding-right:10px;}
.Int input{height:49px;line-height:49px;width: 100%;font-size: 14px;text-indent:10px;border:0;outline: 0;color:#888;}
.Int.has-error .error_txt{height:49px;line-height:49px;display: block;color:#e41010;background:#fff;z-index:2;}
.login_btn{display: block;height:45px;line-height:45px;background:#59a7f9;color:#fff;border-radius:3px;transition:0.2s;
    position: relative;}
.login_btn:hover{opacity:0.9;}
.login_ok span,.login_btn img{display: none;}
.login_ok img,.login_qq img{display:inline;vertical-align: middle;}
.login_ok img{position: absolute;top:50%;left:50%;margin:-10px 0 0 -10px;}
.login_qq{border-color:#4798be;background:#4ea7d1;}
.login_qq img{margin-right:30px;margin-left: -30px;}
.login_quit{background:#df4848;border-color:#48c073;}
.choose_net{position: absolute;padding:20px;width:340px;height:210px;z-index:100;margin-top:-120px;background: #fff;border-radius:3px;}
.choose_net p{border-bottom:1px solid #aaa;line-height:30px;}
.choose_net li{border-bottom: 1px solid #aeaeae;margin:0 10px 5px 10px;}
.choose_net li a{display:block;height:35px;line-height:35px;color:#333;font-size:13px;}
.choose_net li a:hover{color:#0063bd;}
.off{position: absolute;padding:5px;right:0px;top:0;}
.help{width:60%;margin: 0 auto;padding-top:50px;min-width:900px;padding-bottom:150px;}
.help .help_title{border-bottom:1px solid #bdbdbd;min-height:60px;line-height:60px;}
.help .help_title a{padding:10px 20px 10px 5px;}
.help .help_title img{width:35px;vertical-align: middle;margin-right:20px;}
.download_btn{display:inline-block;height:30px;line-height:30px;background:#0063bd;padding:0 20px;border-radius:2px;color:#fff;}
.help .help_title a:hover{background:#d9d9d9;}
.video{font-size: 14px;display: inline-block;margin:0 10px;width:30%;max-width:300px;overflow: hidden;}
.video img{width:100%;}
.video:hover img{opacity:0.9;transition:0.3s;}
.message_box{width:320px;height:60px;position:fixed;top:50%;left:50%;margin:-30px 0 0 -160px;z-index:99;}
.message{position:absolute;top:0;left:0;width:320px;height:60px;line-height:60px;background: url("../img/mesbg_2.png") no-repeat;word-break: break-all;word-wrap: break-word;}
.message.message_error{background: url("../img/mesbg_error2.png") no-repeat;}
.message i{width:32px;height:32px;border:1px solid #fff;border-radius:50%;padding:4px;margin:0 10px;}
.message_error i{border-color:#a04646;color:#a04646;}
.message i.icon-info{border:0;vertical-align:-4px;margin-right:5px;}
.message.message_waring{background: url("../img/mesbg_waring.png") no-repeat;}
.loading{position:absolute;width:160px;padding:10px 0;top:50%;left:50%;margin:-50px 0 0 -80px;z-index:202;color:#fff;background:url("../img/mask40.png") repeat;border-radius:3px;}
.loading img{width:35px;height:35px;margin-bottom:8px;}
.pop{width:410px;height:320px;padding:10px 40px;position:fixed;background:#fff;top:50%;left:50%;margin:-220px 0 0 -245px;z-index:100;border-radius:4px;color:#666;font-size:14px;}
.pop p{line-height:40px;}
.pop p.font20{line-height:80px;border-bottom:1px solid #aaa;}
.pop p a{height:35px;line-height:35px;}
.pop p.clearfix a.floatright{width:40%;border-color:#3e9b4d;background:#48b65a;color:#fff;}
.pop p.clearfix a{border-color:#aaa;background:#fff;color: #888;width:35%;}
.video_pop{width:530px;height:355px;position:fixed;left:50%;top:50%;margin:-176px 0 0 -265px;background:#000;z-index:200;}
.doc_preview{position: fixed;top:0;left: 0;right:0;bottom:0;background:#111;z-index:200;display: none;}
.doc_preview .header{height:60px;line-height:60px;background:#000;opacity:1;color:#fff;}
.doc_preview .header a{color:#fff;}
.doc_view{position: absolute;top:60px;width:1000px;bottom:0;left:50%;margin-left:-500px;background:#fff;overflow:hidden;}
.doc_btn_item{width:1000px;margin:0 auto;line-height:60px;}
.doc_preview .header .off{top:-5px;right:20px;}
/*表单图标*/
@font-face {
    font-family: 'oafont';
    src:url('../oafont.eot?-klml34');
    src:url('oafont.eot?#iefix-klml34') format('embedded-opentype'),
    url('oafont.woff?-klml34') format('woff'),
    url('oafont.ttf?-klml34') format('truetype'),
    url('oafont.svg?-klml34#oafont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"],.ico-upd{
    font-family: 'oafont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: inherit;
    background:none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-cross:before {
    content: "\e117";
}
.icon-check2:before {
    content: "\e116";
}
.icon-info:before {
    content: "\e640";
}
.icon-cloud-download2:before {
	content: "\e067";
}
.icon-close:before {
	content: "\e615";
}

.icoImg{display:block;width:20px;height:20px;position: absolute;top:50%;margin-top:-10px;right:10px;}
.userImg{background: url("../img/hr_user.png") no-repeat;}
.Int:hover .userImg{background: url("../img/hr_user2.png") no-repeat;}
.userPass{background: url("../img/hr_pass.png") no-repeat;}
.Int:hover .userPass{background: url("../img/hr_pass2.png") no-repeat;}
.pageImg img{max-width:100%;vertical-align: bottom;position:relative;z-index: -1;}
.footerIn{background:#333;height:60px;}
.footerIn a{display: inline-block;line-height:60px;}
.footerIn img{vertical-align:bottom;}
.footer{position:fixed;width:100%;height:60px;padding-top:20px;left:0;bottom:-100px;background:#0e0d0d;filter:alpha(opacity=90);opacity:0.9;z-index:100;color:#fff;font-size:14px;}
.footer span{display: inline-block;height:40px;line-height:40px;border-right:1px solid #424141;padding:0 40px;}
.footer span img{vertical-align:middle;margin-right:15px;}
.footer span.last{border:0;vertical-align: middle;}
.footer span.last img{margin-right:20px;}
.footer span.last a{display: inline-block;width:40px;height:40px;margin:0 10px;*vertical-align:middle;}
a.code{position:relative;}
a.code .code_img{position: absolute;top:-233px;left:-90px;display:none;}
.qq{background:url("../img/qq.png");}
.qq:hover{background:url("../img/qq_h.png");}
.wx{background:url("../img/weichat.png");}
.wx:hover{background:url("../img/weichat_h.png");}
.sina{background:url("../img/sina.png") no-repeat;}
.sina:hover{background:url("../img/sina_h.png");}
.footer span.last a.wx{*left:10px;}










